/* You can add global styles to this file, and also import other style files */
div.map{
    text-align: center;
}
p.info{
    font-size: 32px;
}
div.elm{
    font-size: 20px;
    color: red;
    font-weight: bolder;
}